.search-bar {
  margin-bottom: 2rem;
}

.search-bar input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 1px solid #dee2e6;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
}

.search-bar input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(67, 97, 238, 0.2);
}

.search-bar input::placeholder {
  color: #adb5bd;
}